---
---

body {
  background-color : #222;
  font-family      : sans-serif;
}

#game-container {
  background-color : #000;
  width            : 800px;
  height           : 600px;
}

.player-controls {
  display       : inline-block;
  margin-left   : 10px;
  margin-bottom : 10px;
  color         : #888;
  padding       : 5px 5px 5px 5px;
  border        : 1px solid #666;

  span {
    margin-left  : 5px;
    margin-right : 5px;
  }

  &:first-child {
    color        : red;
    border-color : red;
  }

  &:nth-child(2) {
    color        : yellow;
    border-color : yellow;
  }
}

#game {
  width  : 100%;
  height : 100%;
}